<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BasicSuite" verbose="2" parallel="none">
    <!-- enable option below to stick to packages for test execution -->
    <!-- <test name="GithubTestViaCucumberAndTestNG">
        <packages>
            <package name="yandex" />
        </packages>
    </test> -->
    <listeners>
        <listener class-name="util.TestListener"/>
    </listeners>
    <test name="GithubTestViaCucumberAndTestNG">
        <classes>
            <class name="yandex.YandexMailPageCucumberTestNGTest"/>
        </classes>
    </test>
</suite>